---
title: 11ty + Tachyons
layout: default
---
<section class="mw6 mw7-ns center pa3 ph5-ns">
  {%- for post in collections.post -%}
    <a class="link dt w-100 bb b--black-10 pb2 mt2 dim blue" href="{{ post.url }}">
      <div class="dtc w3">
        <img src="https://placeimg.com/480/480/{{ post.data.image_cat }}" class="db w-100"/>
      </div>
      <div class="dtc v-top pl2">
        <h1 class="f6 f5-ns fw6 lh-title black mv0">{{ post.data.title }}</h1>
        <h2 class="f6 fw4 mt2 mb0 black-60">{{ site.author.name }}</h2>
        <dl class="mt2 f6">
          <dt class="clip">Date</dt>
          <dd class="ml0">{{ post.data.date }}</dd>
        </dl>
      </div>
    </a>
    {%- endfor -%}
</section>
