// Importing tachyons-sass
@import 'node_modules/tachyons-sass/tachyons.scss';

// Write your custom styles

// Sticky footer
html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1 0 auto;
}
.footer {
  flex-shrink: 0;
}
