<header>
  <nav class="pa3 pa4-ns" role="navigation">
    <a class="link dim black b f1 f-headline-ns tc db mb3 mb4-ns" href="/" title="Home">{{ site.title }}</a>
    <div class="tc pb3">
      <!-- A place to build your main navigation -->
      <!-- <a class="link dim gray f6 f5-ns dib mr3" href="/" title="Home">Home</a> -->
      <!-- <a class="link dim gray f6 f5-ns dib mr3" href="/about" title="About">About</a> -->
      <!-- <a class="link dim gray f6 f5-ns dib" href="/archives" title="Archives">Archives</a> -->
    </div>
  </nav>
</header>
